.customGreenColor{
    background-color: #3d9970;
    color: #fff9f1;
}
.customGreenColor:hover{
    background-color: #357e5d;
}
.customBageColor{
    background-color: #fff9f1 ;
}
.customColorGreen{
    background-color: #3d9970 ;
}